<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>
</head>
<body>

    <h1>Portal Informações</h1>

    <a href="/filmes">Filmes</a>
    <a href="/livros">Livros</a>
    <a href="/jogos">Jogos</a>
</body>
</html>