<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Jogo</title>
</head>
<body>
    <h1>NOVO JOGO</h1>
    <a href="/jogos">Voltar</a><br><br>

    <form action="/jogos/salvar" method="post">
        <label>Nome: </label>
        <input type="text" name="name" id="name" placeholder="Nome do filme"><br>
        <label>Descrição: </label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Salvar">
    </form>
    
</body>
</html>