<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>
<body>

    <h1>Livros</h1>
    <a href="/novolivro">Novo Livro</a>
    <a href="/">Voltar</a>
    <br><br>

    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td></td>
        </tr>
        
        <% for(var i=0; i < books.length; i++) { %>
            <tr>
                <td><%= books[i].name %></td>
                <td><%= books[i].description %></td>
                <td><a href="deletarlivro?id=<%= books[i].id %>">Deletar</a></td>
            </tr>
        <% } %>
    </table>
    
</body>
</html>